html	{
	font-family: OpenSans, sans-serif;
}

.main-content {
	max-width: $max-width;
	width: 100%;
	margin: 0 auto;
	padding: 2rem;
}

section {
	width: 100%;
	height: 100vh;
}
.green {
	background-color: green;
}

@media screen and (max-width: 768px) {
	body.lock {
		overflow: hidden;
	}
}