html	{
	font-family: Poppins, sans-serif;
}

.main-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

.img-basic {
	display: block;
	width: 100%;
	object-fit: cover;
}